.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #0F0F0F;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #0F0F0F;
    cursor: pointer;
}

.currentYearPollen {
    font-size: 25px;
}

.playbutton {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border-width: 25px 0px 25px 50px;
    border-style: solid;
    border-color: transparent transparent transparent #202020;
    transition: 100ms all ease;
    opacity: 1;
    animation: breathing 5s ease-out infinite normal;
}

@keyframes breathing {
    0% {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  
    25% {
      -webkit-transform: scale(0.75);
      -ms-transform: scale(0.75);
      transform: scale(0.75);
    }
  
    60% {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  
    100% {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  }

.pausebutton {
    display: block;
    box-sizing: border-box;
    width: 50px;
    height: 50px;

    border-color: transparent transparent transparent #202020;
    transition: 100ms all ease;
    cursor: pointer;
    border-style: double;
    border-width: 0px 0 0px 60px;
  }

/* .reloadSingle {
    height: 2em;
    padding: .25em;
    width: 2em;
    &:before, &:after {
        content: '';
        display: block;
    }
    &:before {
        border-color: transparent black black black;
        border-radius: 50%;
        border-style: solid;
        border-width: .125em;
        height: 1.5em;
        width: 1.5em;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    &:after {
        border-color: transparent transparent transparent black;
        border-style: solid;
        border-width: .3125em 0 .3125em .5em;
        height: 0;
        position: absolute;
        top: 0;
        left: 50%;
        width: 0;
    }
} */